body {
    font-family: Arial, sans-serif;
}

.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin: 10px 100px;
}

.gallery-item {
    flex-basis: calc(33.333% - 10px);
}

.gallery-image {
    width: 100%;
    height: auto;
    display: block;
}
